#content_left{
	width: 30%;
}
#content_right{
	width: 68%;
}
.panel_btn{
	float:right;
}
.noDisplay{
	display: none;
}
.panel_change{
	float:left;
}
.person_word ul {
    list-style:none;
}
    .person_word ul li {
        margin:12px 0px;
    }
.Introduction {
    text-indent:2em;
}