<div class="panel-body">
    <h3>世界上最遥远</h3>
    <span class="glyphicon glyphicon-user"></span>
    <span>&nbsp;&nbsp;<a href="#">Hello 发哥</a></span>
    <span class="glyphicon glyphicon-time"></span>
    <span>&nbsp;&nbsp;2015年1月10日</span>
    <hr />
    世界上最遥远的距离<br />
    不是生与死的距离<br />
    而是<br />
    我就站在你的面前<br />
    你却不知道我爱你<br />
    <br />
    世界上最遥远的距离<br />
    不是我就站在你的面前<br />
    你却不知道我爱你<br />
    而是<br />
    明明知道彼此相爱<br />
    却不能在一起<br />
    <br />
    世界上最遥远的距离<br />
    不是明明知道彼此相爱<br />
    却不能在一起<br />
    而是明明无法抵挡这股思念<br />
    却要装作丝毫没有把你放在心里<br />
    <br />
    世界上最遥远的距离<br />
    是对心爱的人掘了一条无法跨越的沟渠<br />
    <br />
    世界上最遥远的距离<br />
    不是树与树的距离<br />
    而是<br />
    同根生长的树枝<br />
    却无法在风中相依<br />
    <br />
    世界上最遥远的距离<br />
    不是树枝无法相依<br />
    而是<br />
    相互了望的星星<br />
    却没有交汇的痕迹<br />
    <br />
    世界上最遥远的距离<br />
    不是星星之间的轨迹<br />
    而是<br />
    纵然轨迹交汇<br />
    却在转瞬间无处寻觅<br />
    <br />
    世界上最遥远的距离<br />
    不是瞬间便无处寻觅<br />
    而是<br />
    尚未相聚<br />
    便注定无法相遇<br />
    <br />
    世界上最遥远的距离<br />
    是鱼与飞鸟的距离<br />
    一个在天<br />
    一个却深潜海底
</div>
<div class="panel-footer">
    <img src="/Themes/Images/me.png">
    <div class="author">
        <div itemprop="name">作者 : 发哥</div>
        <div itemprop="description">有梦想的平凡人</div>
    </div>
    <div class="clear"></div>
</div>