<div class='panel-bod'><h3>啊飒飒的</h3><span class='glyphicon glyphicon-user'></span><span>&nbsp;&nbsp;<a href='#'>Hello 发哥</a></span><span class='glyphicon glyphicon-time'></span><span>&nbsp;&nbsp;2015年01月27日</span>
                    <p>欢迎使用<b>wangEditor</b>，请输入内容...啥大事都</p>
                </div><div class='panel-footer'><img src='/Themes/Images/me.png'><div class='author'><div itemprop='name'>作者 : Hello 发哥</div><div itemprop='description'>任性 我想要的现在就要</div></div><div class='clear'></div></div>