@using Common.Models
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <title>管理界面</title>
    <link href="~/Themes/Lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Themes/Lib/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Themes/Css/global.css" rel="stylesheet" />
    <script src="~/Themes/Js/jquery.min.js"></script>
    <script src="~/Themes/Js/global.js"></script>
</head>
<body>
    <div id="page">
        <div id="header">
            <!-- 顶部开始 -->
            <div id="header">
                <!-- 顶部部分开始 -->
                <div id="header_top">
                    <div id="header_top_left">
                        <img src="/Themes/Images/me.png" />
                        <div>
                            <h3>发哥的网站</h3>
                            <span>道 可道 非常道 名 可名 非常名</span>
                        </div>
                    </div>
                    <div id="header_top_right">
                        <span id="header_top_right_top">2015年01月17日，星期六</span>
                        <hr />
                        <span id="header_top_right_bottom">登录：<a data-toggle="modal" data-target=".login">本地账号</a></span>

                        <!-- Small modal -->
                        <div class="modal fade login" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h4 class="modal-title"><strong>用户登录</strong></h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="input-group" style="margin:10px 10px 20px 100px">
                                            <span class="input-group-addon" style="width:10px;">用户名</span>
                                            <input type="text" class="form-control" name="username" id="username" style="width:300px;">&nbsp;&nbsp;
                                        </div>
                                        <div class="input-group" style="margin:0px 10px 0px 100px">
                                            <span class="input-group-addon" style="width:10px;">密&nbsp;&nbsp;&nbsp;码</span>
                                            <input type="password" class="form-control" name="password" id="password" style="width:300px;">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" onclick="login()">登录</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 音乐 -->
                    <!-- <audio src="Music/index.mp3" preload="auto" loop="loop" autoplay="autoplay"></audio> -->
                </div>
                <!-- 导航条开始 -->
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid" id="nav_main">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand">Liguifa</a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="#">首&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
                                <li class="active"><a href="list.html">人员管理</a></li>
                                <li><a href="list.html">文章管理</a></li>
                            </ul>
                            <div id="search">
                                <form class="navbar-form navbar-left" role="search">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="搜索..." />
                                    </div>
                                    <button type="submit" class="btn btn-default">搜一下</button>
                                </form>
                            </div>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
                <!-- 导航条结束 -->
            </div>
            <div id="content">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        文章列表 <button type="button" data-toggle="modal" data-target=".adduser" class="btn btn-default btn-sm add">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 添加文章
                        </button>
                    </div>

                    <!-- Table -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>用户名</th>
                                <th>文章数</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Article article in ViewBag.list)
                            {
                                <tr>
                                    <td>@article.Article_Id</td>
                                    <td>@article.Article_Title</td>
                                    <td>@article.User.User_Name</td>
                                    <td>
                                        <button type="button" data-toggle="modal" data-target=".del" class="btn btn-default" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            删除
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="modal fade del" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h4 class="modal-title"><strong>操作提示</strong></h4>
                                    </div>
                                    <div class="modal-body">
                                        你正在删除系统用户,你确定要删除吗？
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                        <button type="button" class="btn btn-primary" onclick="login()">确定</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            &copy2015 李贵发 版权所有
        </div>
    </div>
</body>
</html>

