@using Common.Models;
@foreach (demo d in ViewBag.demos)
{
    <div class="ki ve" jsname="MxEsy">
        <div class="ys">
            <a href="./112732102343787170627" class="ob Jk" oid="112732102343787170627" aria-hidden="true">
                <img src="/Themes/Images/me.png" width="46px" height="46px" alt="" class="Uk wi hE" oid="112732102343787170627">
            </a>
            <div class="f5 wy">
                <header class="lea">
                    <h3 class="zi">
                        <a href="./112732102343787170627" class="ob tv Ub Hf" oid="112732102343787170627">@d.User.User_Name</a>
                    </h3>
                    <span class="uG Ve">
                        <span role="button" class="d-s Vt Hm dk Q9" title="分享细节" tabindex="0" jsname="lUFH9b" aria-haspopup="true">公开分享</span>
                        &nbsp;-&nbsp;
                        <span class="uv PL">
                            <a href="112732102343787170627/posts/XtpZ7XNrcoR" target="_blank" rel="noreferrer" class="o-U-s FI Rg" title="2015年3月24日 上午4:31:04">上午4:31</a>
                        </span>
                    </span>
                </header>
            </div>
            <div class="QM"></div>
        </div>
        <div class="Al pf">
            <div class="Xx xJ">
                <div class="Ig At dn">
                    <div class="Bt Pm" style="max-height: 72px;">
                        <div class="tG QF">&nbsp;</div>
                        <div class="Ct">@d.demo_Title</div>
                    </div>
                    <span role="button" class="d-s Yv on  gj" tabindex="0">展开（183行）</span>
                    <span role="button" class="d-s Xv zt gj" style="display:none;" tabindex="0">收起</span>
                </div>
            </div>
            <div class="yx Nf">
                <div class="q9 yg">
                    <div class="sp ej xI Zo" style="max-height:340px;">
                        <a href="photos/112732102343787170627/albums/6129530062521564177/6129530065884093586" target="_top" class="d-s ob Ks" tabindex="0">
                        <img src="/Themes/Update/Images/@d.demo_image" class="ar Mc" style="max-height:340px; max-width:426px;" itemprop="image"><meta name="twitter:image:src" content="//lh3.googleusercontent.com/-cd3BMHEokTw/VRB3HokZHJI/AAAAAAAByrc/ikRuQPNTi70/w426-h340/668x533x141.jpg.pagespeed.ic.JqOkM4rsLH.jpg"></a>
                    </div><div class="lr"></div><div class="ko"></div><div class="kr"></div><div class="jo"></div>
                </div>
            </div>
        </div>
        <div class="Qg">
            <div id="po-z12ojrhjmwmnwpqhs04chxda3tatexv54b0" href="javascript:void(0);" tabindex="0" role="button" jscontroller="qG1h8c" jsaction="click:JIbuQc;gcRodd:mVjlY;" class="esw eswd qk Gc" g:token="AEIZW7Sqf4+YiuTd5ZTQJAb3oWFGuHSRgVI2lX+Mt123hR62EvS3Jc+x7sJX1Xs9jZg/eiAFYce+" g:entity="buzz:z12ojrhjmwmnwpqhs04chxda3tatexv54b0" aria-pressed="false" aria-label="为此信息 +1" data-tooltip="为此信息 +1">
                <span dir="ltr" class="tf yda">
                    <span class="gr"></span>
                    <span class="H3" jsname="NnAfwf">24</span>
                </span>
            </div>
            <div class="Dg Ut" role="button" tabindex="0" aria-label="分享此信息" jscontroller="tH7URd" jsaction="click:KjsqPd; mouseenter:OPtno; focus:OPtno;wA70zd:AX4Iqd;JO8x0b:mTq7Qc" data-tooltip="分享此信息">
                <span class="tf">
                    <span class="iI"></span>
                    <span class="MM jI">10</span>
                </span>
            </div>
        </div>
        <div class="pl">
            <!-- 多说评论框 start -->
            <div class="ds-thread" data-thread-key="1111111" data-title="@d.demo_Title" data-url="@d.demo_Url"></div>
            <!-- 多说评论框 end -->
        </div>
    </div>
}



